<table border="1">
  <tr>
    <th>Instructor Name</th>
    <th>Subject</th>
    <th>Course</th>
    <th></th>
    <th>Sec No</th>
    <th>Term</th>
    <th>Act Type</th>
    <th>Days Met</th>
    <th>Start Time</th>
    <th>End time</th>
    <th>TA Name</th>
    <th></th>
    <th>Hours per week</th>
    <th></th>
    <th></th>
    <th>U/G</th>
    <th></th>
    <th>Est. Enrol</th>
    <th>Release</th>
    <th>Enrolment</th>
    <th>Building</th>
    <th>Room</th>
    <th>Cap</th>
  </tr>

  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>LastName</th>
    <th>First Name</th>
    <th>Labs</th>
    <th>Marking</th>
    <th>Coord</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @courses.each do |course| %>
      <tr>
        <td><%= course.subject %></td>
        <td><%= course.number%></td>
        <td><%= course.term_id %></td>
      </tr>
  <% end %>=

</table>