<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Request for Application Removal</h1>
            <p>Enter your email below to send an email to the admin requesting that your application be removed.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form accept-charset="UTF-8" action="<%= delete_application_path %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

                <input name="application[email]" type="text" />
                <button class="btn btn-default" type="submit">Send Request</button>
            </form>
        </div>
    </div>
</div>