<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <form accept-charset="UTF-8" action="<%= applications_edit_path %>" method="patch">

            </form>

        </div>
    </div>
</div>