<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1><b>Application for</b><br/> Undergraduate/Graduate Teaching <br/>Assistantship</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <% if (@term_options.present?) %>

            <form class="container-fluid" accept-charset="UTF-8" action="<%= create_application_path %>" method="post">
            <%= render(partial: "form", locals: { application: nil, term_options: @term_options }) %>
            </form>
            <hr>

            <% else %>

            <div class="well well-lg text-center">
                <h4>Applications are not open at the moment. Please check back soon.</h4>
            </div>

            <% end %>
        </div>
    </div>
</div>