/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


$primary-text-color: #002145;


h1, h2, h3, h4, h5, h6 {
    color: #022244;

    &.inline-header {
        display: inline-block;
    }
}

.btn {
    &.btn-primary {
        background-color: #286090;
        border-color: #204d74;
        color: #ffffff;
    }

    &.btn-narrow {
        padding: 2px 8px;
    }
}

#header-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    background-color: $primary-text-color;
    border-top: 3px solid #fff;

    .row {
        margin: 0;

        .header-column {
            height: 95px;

            &:not(:nth-child(1)) {
                border-left: 1px solid #1f385f;
            }
        }
    }
}

#main-container {
    margin: 15px 0;
}

.navbar {
    margin-bottom: 0;

    .navbar-nav > li > a, .navbar-nav > li button {
        color: $primary-text-color;
    }
}

.navbar .btn {
    padding: 15px;
    border: 0;
    line-height: 20px;

    outline: none;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.form-inline {
    .form-group {
        margin: 0 10px;
    }
}

.ubc-sprite {
    background-image: image-url("ubc_sprites.png");
    background-size: 1500px;
    background-repeat: no-repeat;

    &.ubc-logo {
        height: 100%;
        width: 68px;

        background-position: 11px -115px;
    }

    &.ubc-100-logo {
        height: 100%;
        width: 138px;

        background-position: -73px -115px;
    }

    &.ubc-wordmark {
        height: 100%;
        width: 580px;

        background-position: -226px -115px;
    }
}